/* ****************************** Layout 2 ************************* */
.layout2 {
    display: flex;
    flex-direction: column;
}

.layout2-image {
    height: 150px;
    flex: 70%;
    padding: 8px;
    object-fit: cover;
}

.layout2-input {
    height: 30px;
    flex:1 20%;
    border-style: dotted;
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word !important;
}
